body {
    margin: 10px;
    color: #fff;
    background-color: #2a2442;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a, a:visited {
    color: #fff;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
    padding: 5px;
}

button {
    padding: 5px;
}

section {
    background-color: #fefefe;
    color: #000;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

section a, section a:visited {
    color: #000;
}

form label {
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
}

form input, form select, form textarea {
    margin-bottom: 5px;
}

form button {
    margin-bottom: 5px;
}

form .validation-summary-errors ul li {
    color: #ff0000;
    font-weight: bold;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
